<div class="cell-content-normal" style="--splash-delay: 1">
    <h1>Why enable TDE?</h1>
    <p><strong>Security Model: </strong>Attackers cannot exploit exfiltrated data when database servers do not
        manage their own Data Encryption Key and Key Encryption Key.
    </p>
</div>
<div class="cell-content-normal" style="--splash-delay: 3">
    <p><strong>Centralized Workflow: </strong>Database servers adhere to a centralized, automated workflow to manage the
        lifecycle of Data Encryption Keys and Key Encryption Keys.
    </p>
</div>

<div class="cell-content-normal" id="tale-teller" style="--splash-delay: 6">
    <p><strong>Governance: </strong>Teams establish authentication and authorization processes for the lifecycle of
        encryption keys, enforced by policies that support audit and control standards.
    </p>
</div>